<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

	<link rel="stylesheet" href="/stylesheets/event.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/profile">Profile</a></li>
			<li><a href="/event-create">Create</a></li>
		</ul>
	</nav>

    <form action="/" method="GET">
        <label for="eventName">Event Name:</label>
        <input type="text" id="eventName" name="eventName" value=""><br>
        <label for="startDate">Start Date:</label>
        <input type="text" id="startDate" name="startDate" value=""><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value=""><br>
        <label for="organizer">Host:</label>
        <input type="text" id="organizer" name="organizer" value=""><br>
        <label for="attendees">Attendees:</label>
        <input type="text" id="attendees" name="attendees" value=""><br>
        <button type= "submit">Filter</button>
        <button type= "submit">Clear</button> 
    </form> 

    <br>
    <table>
        <tr>
            <th>Event Name</th>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Location</th>
            <th>Cost</th>
            <th>Description</th>
            <th>Host</th>
            <th>Attendees</th>
        </tr>


        {{#each events}}
        <tr>
            <td>{{this.eventName}}</td>
            <td>{{this.startDate}}</td>
            {{!-- <td>{{this.endDate}}</td> --}}
            <td>{{this.startTime}}</td>
            <td>{{this.endTime}}</td>
            <td>{{this.location}}</td>
            <td>{{this.cost}}</td>
            <td>{{this.description}}</td>
            <td>{{this.organizer}}</td>
            <td>{{this.attendees}}</td>
        </tr>
        {{/each}}
    </table>

    <a href="/edit-event" class="edit-event">Edit Event</a>
</body>
</html>